/* Tecnologia Web- Plantilla CSS del portal de asignación */
/* Puede usar #HEX o nombres de colores */
/* * es un comodín que se refiere a todos los elementos. */

/* { margin: 0; box-sizing: border-box; } */

body { 
    background: url('imagenes/1.jpg');
    background-color: rgba(240, 183, 183, 0.986);
    background-repeat: no-repeat;
    font-size: 5px; 
    line-height: 25px;
    padding: 2.5rem 1px ;    
    font-family:Ubuntu,sans-serif;
    color:#000000;    
}

h1 {
    font-size: 2rem;
    color:#000000;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.418);
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 600px;
}

header, footer, footer a {
    text-align: center;
    background-color:rgb(83, 13, 46);
    color: rgb(255, 255, 255);
}

header img {
    width: 150px;
    padding: 2.5rem 1px ;    
    height: auto;
    float: right;
}

footer {
    font-size: 0.75rem;
}

